extends base

block content
    div.block
        if (user && user.role === 'admin')
            h1 מוצרים באתר
            div.catalog
                each item in items
                    .item
                        .adminAlignLeft
                            p
                                b מס סידורי: 
                                | #{item._id}
                                br
                                b שם מוצר: 
                                input(type='text', id=`productNameInput-${item._id}`, value=item.productName)
                                br
                                b מחיר: 
                                input(type='number', id=`priceInput-${item._id}`, value=item.price)
                                br
                                b תיאור: 
                                input(type='text', id=`productDescriptionInput-${item._id}`, value=item.description)
                                br
                                b תמונה: 
                                input(type='text', id=`imageInput-${item._id}`, value=item.image)
                        .center
                            button.btnBottom.nav_el(onclick=`deleteItemFunc('${item._id}')`) מחק
                            button.btnBottom.nav_el(onclick=`updateItemFunc('${item._id}')`) עדכון
        else
            h1 שגיאה
            p אנא חזור אחורה אינך רשאי לבקר בעמוד זה !
        <hr />