extends base

block content
    div.block
        h1 חנות
        div.catalog
            each item in items
                .item
                    img(src=`/images/${item.image}` alt=`${item.productName}`)
                    h2= item.productName
                    p= item.description
                    b=`מחיר: ${item.price} ש"ח בלבד`
                    .center
                        button(type="button", class="btn btn-primary btn-block mb-4 itemBtn") הוסף לסל !
        hr